.jumbotron {
  background-color: #e2edff;
  padding-top: 6rem;
}

#projects {
  background-color: #e2edff;
}

footer {
  background-color: #1db3e5;
  color: #ffffff;
  font-weight: bold;
}

section {
  padding-top: 5rem;
}
